<!doctype html>

<html>
<head>
    <base href="<?= $ctx->elems->path ?>"/>
    <title><?= $ctx->elems->get('title', 'Troll CMS') ?></title>
    <?php $ctx->util->fragment('metas'); ?>
    <?php $ctx->util->fragment('cssandjs'); ?>
    <link rel="stylesheet" type="text/css" href="<?= url('styles') ?>"/>
</head>
<body>
    
    <?php $ctx->util->fragment('header') ?>
    
    <nav class="navbar" role="navigation">
        <div class="container">
            <ul class="nav navbar-nav">
                <?= $ctx->util->fragment('menu') ?>
            </ul>
        </div>
    </nav>
    
    <?php $ctx->util->fragment('flash') ?>
    
    <article class="container">
        <?= $ctx->elems->contentResult ?>
    </article>

    <?php $ctx->util->fragment('footer') ?>

</body>
</html>

